@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

#background {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    
    width: 451px;
    height: 702px;

    position: relative;
    left: 40%;
    top: 100px;

    /* background-color: red; */
}

#logo {
    margin-left: 39px;
    padding-top: 60px;
    /* background-color: green; */
}

#logo img{
    display: block;
    width: 200px;
    height: 106px;
    margin-left: auto;
    margin-right: auto;
}

#headline {
    /* text-align: left; */
    text-align: left;
    text-decoration: black bold;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    margin-left: 60px;
    /* background-color: yellow; */
}

#money {
    margin-top: 30px;
    font-size: 20px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 60px;
    /* background-color: blue; */
}

#moneyAmount {
    color: rgb(0, 175, 0);
    font-size: 35px;
    font-family: 'Nanum Brush Script', cursive;
}

#reason {
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 30px;
    font-size: 20px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    height: 270px;
    /* background-color: orange; */
}

#reasonMsg {
    font-size: 35px;
    text-align: left;
    font-family: 'Nanum Brush Script', cursive;
    /* background-color: orange; */
}

#buttons {
    /* margin-top: 60px; */
    text-align: left;
    /* background-color: gold; */
}

#accept {
    position: absolute;
    font-size: 33px;
    margin-left: 51px;
    padding: 5px;
    width: 202px;
    text-align: center;
    color: darkblue;
    font-family: 'Nanum Brush Script', cursive;
}

#accept:hover {
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0.3);
    border-radius: 10px;
}

#denied {
    position: absolute;
    font-size: 50px;
    color: red;
    padding: 5px;
    right: 80px;
    bottom: 30px;
}

#denied:hover {
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0.3);
    border-radius: 10px;
}

#sign {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    margin-left: 52px;
}