* {
    font-family: 'Heebo', sans-serif;
}
.main {
    width: 70%;
    height: 700px;
    background-color: #ddd;
    border: 1px solid #222;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto; 
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.navbar-brand {
    width: 5%;
}
.bg-light {
    font-family: 'Heebo', sans-serif;
}

.close-click {
    font-family: 'Heebo', sans-serif;
    border: 0;
    color: white;
    background-color: red;
    padding: 4.5px;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.close-click:hover {
    background-color: #760e04;
}

.window {
    width: 100%;
    height: 100%;
    display: none;
}

.last-reports {
    margin-top: 3%;
    margin-left: 3%;
}

.last-reports .report {
    color: white;
    width: 25%;
    height: 4%;
    background-color: blue;
    padding: 0.2%;
}

.last-reports .report .title {
    padding: 2%;
    font-weight: 600;
}

.blocks { -webkit-writing-mode: vertical-rl; text-align: -webkit-center; }

.block01 {
    background-color: #222;
    height: 150px;
    width: 300px;
}
.block02 {
    background-color: #222;
    height: 150px;
    width: 300px;
}
.card-title{
    text-align: center;
}
.col-4{
    display: table-cell;
}

