@font-face {
	font-family: bankgothic;
	src: url('../fonts/bankgothic.ttf');
}

@font-face {
	font-family: pcdown;
	src: url('../fonts/pdown.ttf');
}

@font-face {
	font-family: steeltongs;
	src: url('../fonts/steeltongs.ttf');
}

@font-face {
	font-family: heading;
	src: url('../fonts/heading.ttf');
}

@font-face {
	font-family: trumpgothic;
	src: url('../fonts/trumpgothic.ttf');
}

.menu {
	background-color: rgb(74, 74, 74,0.3);
	font-family: Verdana;
	min-width: 400px;
	color: #fff;
	position: absolute;
}

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	left: 40;
	top: 40;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.menu .head {
	background-color: #a50000;
	text-align: center;
	height: 65px;
	line-height: 40px;
	font-size: 50px;
	font-family: trumpgothic;
	text-transform: uppercase;
	padding-top: 20px;
	}

.menu .menu-items {
	max-height: 400px;
	overflow-y: hidden;
}

.menu .menu-items .menu-item {
	height: 40px;
	display: block;
	background-color: rgba(0, 0, 0, 0.6);
	height: 32px;
	line-height: 32px;
	color: #fff;
	text-align: center;
}

.menu .menu-items .menu-item.selected {
	background-color: #ff0000;
}